.containerFooter {
  /* size */
  height: 80px;
  width: 100%;

  /* position */
  position: absolute;
  bottom: 0;

  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContainer {
  /* Display */
  display: flex;
  gap: 18px;
}

.textFooter {
  /* atributes */
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  width: 100%;
  color: #708797;
}

@media (max-width: 800px) {
  .containerFooter {
    height: 130px;
  }
  .textContainer {
    flex-direction: column;
    gap: 5px;
  }
  .textFooter {
    /* atributes */
    font-size: 12px;
    width: 288px;
    text-align: center;
  }
}
