.containerMain {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(242, 247, 249);
}

.containerSub {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center;
}

@media (max-width: 800px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
